<!DOCTYPE html>
<html lang="ja">
  <%- include('./component/_head'); %>
  <body>
    <%- include('./component/_header'); %>
    <main>
      <section class="hoge"></section>
    </main>
  </body>
</html>
